<!-- 
  You can reference to page object and say things like:
  page.title (engine already knows they belong to index page)

  If you need to access global data, or data related to another page
  you have to use the whole json path; for example pages.about.phone_number

-->

<h1>
  Index pagegegegegege
</h1>